SECRET_KEY=django-insecure-cambiar-esto
DEBUG=True
DATABASE_URL=postgresql://user:pass@host/dbname
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
BIOMETRIC_COLUMN_KEY=base64-de-32-bytes-aleatorios
